*{
 margin-left:0px ;
 padding: 0;
 box-sizing: border-box;
 font-family:Arial, Helvetica, sans-serif
}
body{
    height: 100vh;
    overflow: hidden;
}
.navbar{
 height: 80px;
 padding: 0 50px;
 display: flex;
 align-items: normal;
 justify-content: space-between;
 background: #ffffff;
}
.logo span{
    font-size: 12px;
    color: #c62828;
}
.nav-links a{
    margin-right: 18px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
.donate{
    background: #c62828;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.hero{
    height: calc(100vh-80px);
    display: flex;
}
.hero-content{
    width: 50%;
    background: black;
    color: white;
    padding: 100px 80px;
}
.help-btn{
    background: #c62828;
    border: none;
    color: white;
    padding: 14px 32px;
    border-radius: 25px;
    font-size: 16px;
    cursor: p0inter;
}
.hero-image{
 width: 50%;

}
.hero-image img {
    width: 1000px;
    height: 700px;
    object-fit: cover;
}